.profile {
  max-width: 100%;
  margin: 40px auto 51px auto;
  display: grid;
  place-content: center;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "avatar info add";
}

@media screen and (max-width: 767px) {
  .profile {
    margin: 0 auto 36px auto;
    max-width: 282px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "avatar"
      "info"
      "add";
  }
}
