.profile__edit-button {
  grid-area: button;
  margin-top: 37px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
}
